{{!-- D:\FoundryVTT\Data\modules\fxbus\templates\tabs\resetTab.hbs --}}

<p class="fxbus-muted">
  Global reset immediately stops all FX and restores transforms.
</p>

<hr class="fxbus-divider"/>

<div class="fxbus-row">
  <button type="button" class="fxbus-do" data-do="resetApply" style="min-width:160px;">Execute Reset</button>
  <button type="button" class="fxbus-do fxbus-smallbtn" data-action="fxbusCopyToMacro">Copy to Macro</button>
</div>
